<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension 
  		point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="com.flca.mda.codegen.handler.GenerateCodeHandler" 
               label="Generate code ..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.flca.mda.codegen.engine.GenerateCodeHandler"
            id="com.flca.mda.codegen.handler.GenerateCodeHandler"
            name="GenerateCodeHandler">
      </command>
   </extension>
</plugin>